<section id="projects" class="section">

    <div class="container">

        <div class="section-header">

            <h2>Featured Projects</h2>

            <p>
                Some projects that showcase my experience in AI,
                Computer Vision, Robotics and Automation.
            </p>

        </div>

        <div class="row g-4">

            {% for project in projects %}

            <div class="col-lg-4">

                <div class="project-card">

                    {% if project.image %}
                    <img src="{{ project.image.url }}">
                    {% endif %}

                    <div class="project-content">

                        <h3>{{ project.title }}</h3>

                        <p>{{ project.short_description }}</p>

                        <div class="tech-stack">

                            {% for tech in project.tech_list %}
                            <span>{{ tech }}</span>
                            {% endfor %}

                        </div>

                        <div class="project-footer">

                            <a href="{% url 'project_detail' project.id %}" class="btn btn-primary">

                                View Details →

                            </a>

                        </div>

                    </div>

                </div>

            </div>

            {% endfor %}

        </div>

    </div>

</section>